<h2>Add a Room</h2>

<form action="/process-room" method="POST">
  <label> Name
    <input type="text" name="name" placeholder="Cosy Studio...">
  </label>
  <br />

  <label> Description
    <input type="text" name="description" placeholder="the best nights sleep">
  </label>
  <br />

  <label> Picture
    <input type="url" name="pictureUrl" placeholder="http://example.com">
  </label>
  <br />

  <button>Save the Room</button>

</form>