<h2>User Settings</h2>


<form action="/process-settings" enctype="multipart/form-data" method="POST">

  <label>
    <input type="text" name="fullName" value="{{currentUser.fullName}}" placeholder="update your name">
  </label>


  <label for="">
    <input type="email" name="email" value="{{currentUser.email}}" placeholder="your email address">
  </label>

  <label>Avatar
    <input type="file" name="avatarUpload">
  </label>

  <button>Save settings</button>
</form>