<h2>Sign Up</h2>
<form action="/process-signup" method="POST">

  <label> Full Name
    <input type="text" name="fullName" placeholder="John Doe">
  </label>
  <br />

  <label>Email
    <input type="email" name="email" placeholder="hello@me.com">
  </label>
  <br />


  <label>Password
    <input type="password" name="originalPassword" placeholder="yoursecret">
  </label>
  <br />

  <button>Sign up</button>
</form>


<a href="/slack/login">Slack</a>
<br>
<a href="/google/login">Google</a>
<br>